<br> <br>
{{navbar}} 
 <br>  

<p> {{#link-to 'page.edit'}} Edit <b> {{navbar}} page</b> {{/link-to}} </p>

<p>{{#link-to 'page.newChildPage'}} Add Sub Page to <b>{{navbar}} page</b> {{/link-to}}</p>

<h3> child pages </h3>
{{#each page in children}}
   {{log 'child page' page}}
    <li> {{#link-to 'page' page }} {{page.navbar}} {{/link-to}} </li>
{{/each}}
 
{{outlet}}

